<div class="w-full m-2">
    <% ingredients.each do |ingredient|  %>
        <div class="w-full p-1 flex justify-start">
            <div class="w-full flex justify-between items-center">
                <div>
                    <% unless ingredient.not_applicable? %>
                        <p class=" text-md px-1"> <%= "#{ingredient.amount} #{ingredient.amount > 1 ? ingredient.amount_unit.pluralize : ingredient.amount_unit.singularize } of #{ ingredient.name }" %> </p>
                    <% else %>
                        <p class=" text-md px-1"> <%= "#{ ingredient.amount } of #{ ingredient.name }" %> </p>
                    <% end %>
                </div>
                <div>
                    <p class="text-gray-400 text-md px-1"> Alternative: <%= ingredient.alternative %> </p>
                </div>
            </div>
        </div>
    <% end %>
</div>