<div class="w-1/3 p-3 m-5 bg-white rounded-md ">
    <img src="https://picsum.photos/200" class="w-full" />
    <%= link_to recipe do %>
        <p class="font-bold"> 🔗 <%= recipe.name %> </p>
    <% end %>
    <p class=""> <%= recipe.description %> </p>
</div>