<div class="max-w-1/4 p-4 m-2 bg-white rounded-md ">
    <img src="https://picsum.photos/200" class="p-2 w-full" />
    <%= link_to recipe do %>
        <p class="font-bold"> 🔗 <%= recipe.name[..30] %> </p>
    <% end %>
    <p class="p-2 overflow-ellipsis max-w-1/5"> <%= recipe.description[..30] %> </p>
</div>