<div class="container w-full">
  <div class="w-full flex justify-between ">
    <h1 class="font-bold text-center text-lg ">My Recipes</h1>
    <%= link_to "+ Create a new recipe", :new_recipe, class: "font-bold text-center text-lg bg-gray-400 text-white p-2 rounded-lg "%>
  </div>

  <% unless @recipes.empty? %>
    <div class="flex justify-around w-full">
      <h2 class=" text-2xl"> Recents </h2>
    </div>

  <div class="flex justify-around">
    <div class="flex flex-col">
      <% @recipes.each do |recipe| %>
        <%= render partial: "recipe_card", locals: { recipe: recipe } %>
      <% end %>
    </div>
  </div>

  <% else %> 
    <div class="w-full flex flex-col justify-around">
      <div class="flex justify-around w-full">
        <h2 class=" text-2xl"> You don't seem to have any recipes yet, let's fix that!!! </h2>
      </div>
      <div class="flex justify-around w-full">
        <%= link_to "New Recipe", :new_recipe, class: "p-2 rounded-md  text-xl active:bg-purple-500 bg-blue-400" %>
      </div>
    </div>

  <% end %>
  
</div>
