<div class="flex flex-col w-full justify-around">
    <div>
        <h1 class="text-2xl w-full text-center"> <%= @recipe.name %>: Ingredient #<%= @ingredient_count + 1 %> </h1>
    </div>


    <%= render partial: "form", locals: {ingredient: Ingredient.new} %>
</div>