<div class="flex flex-col w-full justify-around">
    <div>
        <h1 class="text-2xl text-white w-full text-center"> <%= @recipe.name %> </h1>
    </div>


    <%= render partial: "form", locals: {ingredient: @ingredient} %>
</div>