<div class="w-full">
  <div class="h-16 md:h-40"></div>

    <p class="text-4xl font-bold max-w-5xl lg:text-7xl lg:pr-24 md:text-6xl">
        Step by step assistance when following recipes!
    </p>
    <div class="h-10"></div>
    
    <p class="max-w-2xl text-lg text-black w-full text-center">
        We give you an ingredient checklist and integrated timers for all your recipes.
    </p>

    <div class="flex justify-around items-center m-auto w-full w-max">
      <%= render partial: "sample_recipe", locals: { sample_recipe: @sample_recipe } %>
    </div>

    <div class="flex justify-around items-center" >
      <% if @current_user %>
        <%= link_to :root, class:"p-2 rounded-md text-white text-2xl active:bg-purple-500 bg-gray-400" do %>
          My Recipes
        <% end %>
      <% else %>
        <div class="flex w-ful justify-around">
          <%= link_to :new_user_registration, class:"p-2 rounded-md text-white text-2xl active:bg-purple-500 bg-gray-600" do %>
            Sign up Today
          <% end %>

          <p class="mx-5 p-2 text-2xl"> or </p>

          <%= link_to :tags, class:"p-2 rounded-md text-white text-2xl active:bg-purple-500 bg-gray-600" do %>
            Discover New Recipes
          <% end %>
        </div>

      <% end %>
    </div>
                
</div>