<div>
    <div class="w-full flex justify-around">
        <h1 class="px-2 py-1 my-2 bg-white text-2xl rounded-md "> Find Recipes by their tags </h1>
    </div>

    <%= render partial: "tags_list", locals: {tags: @tags} %>
</div>