<div class="w-full justify-around">
    <div class="w-full flex justify-around">
        <h1 class="p-2 bg-white text-2xl rounded-md "> Recipes Tagged: ' <%= @tag.tag_name.humanize %> ' </h1>
    </div>
    <% @recipes.each do |recipe| %>
        <%= render partial: "recipe_brief", locals: { recipe: recipe } %>
    <% end %>
</div>